* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url(../img/background.jpg) no-repeat;
}

h1 {
    margin: 1em;
    font-size: 2em;
    color: #fff;
}

p {
    margin: 1em;
    font-size: 1.5em;
    color: #fff;
}

img {
    width: 5em;
}

section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > article:first-of-type {
    background: rgb(255, 0, 0, 0.8);
    width: 100%;
    margin-bottom: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > article:first-of-type > div {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

section > article:last-of-type {
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 2em;
    width: 42em;
    padding: 1em;
}

section > article:last-of-type > div {
    width: 5em;
    height: 5em;
    background: gray;
    margin: 1em;
    cursor: pointer;
}

.hider {
    display: none;
}

.flipper {
    animation-name: flipper;
    animation-duration: 1s;
}

@keyframes flipper {
    
    0% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }

}
